/* CartPage.css */

.cart-page {
  position: relative;
  padding: 20px;
  background: linear-gradient(135deg, #f0f0f0, #ffffff);
  min-height: 90%;
  color: #333;
  animation: fadeIn 1s ease-in-out;
}

.cart-page p {
  text-align: center;
  font-size: 3em; /* 调整字体大小 */
  font-family: 'Rockwell Extra Bold', sans-serif; /* 更改字体 */
  font-weight: 700; /* 字体加粗 */
  margin-bottom: 20px;
  color: #333;
  animation: slideDown 0.6s ease-in-out;
  text-transform: uppercase; /* 将文字转换为大写 */
}

.ant-list-item {
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.6s ease-in-out;
}

.ant-list-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.ant-list-item-meta-title {
  color: #333;
  font-size: 1.2em;
}

.ant-list-item-meta-description {
  color: #555;
  font-size: 1em;
}

.ant-input-number, .ant-btn-link {
  color: #333;
  background: transparent;
  border: none;
}

.ant-input-number {
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.ant-input-number:hover {
  border-color: #888;
}

.ant-btn-link:hover {
  color: #ff4d4f;
}

.ant-list-item-meta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout {
  display: flex;
  justify-content: space-around;
  width: 80%;
  position: absolute;
    bottom: 0;
  /*text-align: right;*/
  margin-top: 20px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease-in-out;
}

.checkout span {
  font-size: 1.5em;
  margin-right: 20px;
  color: #333;
}

.ant-btn-primary {
  background-color: #4CAF50;
  border-color: #4CAF50;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ant-btn-primary:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
