
.forgotpassword-label{
    font-size: xx-large;
    text-align: center;
    margin-top: 16%;
    margin-left: 5%;
}

.forgotpassword-form {
    
    width: 290px;
    padding-right: 40px;
    
}


.forgotpassword-form-button {
    width: 100%;
}